:root {
  --font-serif: var(--font-spectral), var(--font-zen-old-mincho), serif;
  --font-display: var(--font-itc-elan-book), var(--font-zen-old-mincho), serif;

  --color-bg: #fff;
  --color-fg: #171717;
  --color-border: currentColor;
  --color-border-subtle: rgba(0, 0, 0, 0.25);
  --color-placeholder: #e5e5e5;

  --content-max-width: 64rem;
  --content-px: 1rem;
  --section-py: 8rem;
  --section-gap: 8rem;

  --text-2xl: 2.5rem;
  --text-xl: 1.5rem;
  --text-lg: 1.25rem;
  --text-base: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;
  --text-2xs: 0.625rem;

  --leading-cozy: 1.75;
  --leading-base: 1.5;
  --leading-tight: 1.25;
  --leading-none: 1;
}

@media (min-width: 48rem) {
  :root {
    --section-py: 16rem;
    --section-gap: 16rem;
  }
}

html {
  height: 100%;
  font-size: clamp(1rem, 0.975rem + 0.13vw, 1.125rem);
  overscroll-behavior-y: none;
  scrollbar-gutter: stable;
}

body {
  min-height: 100%;
  font-family: var(--font-serif);
  line-height: var(--leading-base);
  color: var(--color-fg);
  background: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: var(--leading-tight);
}

img, picture {
  display: block;
  max-width: 100%;
}
